<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doge Collector</title>
  </head>

  <body>
    <h1>About the Doge Collector</h1>
    <p>The Doge collector is a full stack web application that allows a user to keep track of all of their favorite dogs and dog related items!</p>
    <p>Powered By Python, Django and Some other things</p> 
  </body>
</html>