/* framework structure */

html, body {
  height: 100%;
  margin: 0px;
}

.flex {
  display: flex;
}

/* Header, Footer, Nav bar  */

header {
  box-shadow: 0 1px 15px 0px gray;
}

footer {
  box-shadow: 1px 0px 15px 0px gray;
}

header, footer {
  background-color: #8a2be2;
  padding: 15px;
  width: auto;
}

footer, nav {
  text-align: center;
}

nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav h2 {
  padding: 0px;
  margin: 0px;
}

nav ul {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

li.nav-bar-item {
  color: black;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
  padding: 10px 15px 10px 15px;
  transition: background-color 0.5s;
  border: none;
}

.nav-bar-item:hover {
  background-color: #7401df;
  color: #ffffff;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* Main */
main {
  height: 100%;
  
}

main h1 {
  margin: 0 auto;
}

/* Card */

.card {
  width: 65%;
  display: flex;
  padding: 10px;
  margin: 23px auto;
  box-shadow: 4px 4px 15px 1px gray;
  border-radius: 10px;
}

.card-content > span, .card-content > p {
  margin: 0px;
}

.card-content {
  margin: 0px 0px 0px 30px;
  width: 100%;
}

.card-title {
  font-weight: bold;
  text-decoration: underline;
  margin: 5px auto;
}