/* framework structure */

html, body {
  height: 100%;
  margin: 0px;
}

.flex {
  display: flex;
}

/* Header, Footer, Nav bar  */

header {
  box-shadow: 0 1px 15px 0px gray;
}

footer {
  box-shadow: 1px 0px 15px 0px gray;
}

header, footer {
  background-color: #8a2be2;
  padding: 15px;
  width: auto;
}

footer, nav {
  text-align: center;
}

nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav h2 {
  padding: 0px;
  margin: 0px;
}

nav ul {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.nav-bar-item {
  color: black;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
  padding: 10px 15px 10px 15px;
  transition: background-color 0.5s;
}

.nav-bar-item:hover {
  background-color: #7401df;
  color: #ffffff;
}

/* Main */
main {
  height: 100%;
  
}

main h1 {
  margin: 0 auto;
}